:host {
  font-family:fantasy;

  height: 300px;

  label {
    margin-bottom: 4px;
  }

  .form {
    display: flex;
    flex-direction: column;
  }

  .nameLable {
    margin-left: 175px;
  }

  .mailLable {
    margin-left: 190px;
  }

  .numLable {
    margin-left: 160px;
  }


  input {
    margin-bottom: 20px;
    height: 120px;
    width: 400px;
    max-height: 20px;
  }

  .number::-webkit-outer-spin-button,
  .number::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  .Reg {
    background-color:  #f17827;
    text-align: center; 
    padding: 10px;
    border-radius: 10px;
    font-size: 1.2em;
    color: #757575;
    border: 0;
    width: 100px;
    height: 40px;
    margin-left: 37%;
  }

  .Reg:active {
    background-color: #ff6600;
    color: #303030;

  }
}