<form [formGroup]="RegistrationForm" (ngSubmit)="OnRegister()" class="form">

  <label class="nameLable" for="userName">User Name</label>
  <input type="text" id="userName" formControlName="userName">

  <label class="mailLable" for="mail">Mail</label>
  <input type="mail" id="mail" formControlName="mail">
  
  <label class="numLable" for="number">Phone Number</label>
  <input class="number" type="number" id="number" formControlName="number">

  <button class="Reg" type="submit">Register</button>

</form>